@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(184, 215, 228);
  font-family: "Source Code Pro", monospace;
  padding: 20px;
}

.main {
  width: 100%;
  background: rgb(252, 248, 248);
  padding: 20px;
}

.total {
  font-size: 20px;
  padding: 5px 20px;
  font-weight: 300;
}

.birthday {
  display: flex;
  padding: 20px;
}

.celebrant {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.details {
  margin-left: 15px;
  font-weight: 300;
  align-self: center;
}

span {
  font-weight: 200;
}

.clear-btn {
  width: 90%;
  margin: auto;
  padding: 12px;
  display: block;
  color: white;
  background: rgb(53, 147, 187);
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
}

@media (max-width: 1500px){
  .main {
    display: block;
    width: 40%;
    margin: auto;
  }
}